header {
  background-color: $incolor;
  width: 100%;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 9999999;
}

header.rolar {
  background-color: $white-normal;
  color: $black-normal;
  box-shadow: 0 0 8px #000;
  height: 135px;
  padding: 15px 20px;
}

header.rolar .header-link a {
  border: $black-normal;
  color: $black-normal;
}

header.rolar .header-link a:hover {
  color: $verde-principal;
}

header.rolar .header-button {
  border: 1px solid $black-normal;
  background-color: $black-normal;
  color: $white-normal;
  border: none;
}

header.rolar .header-button:hover {
  background-color: $verde-principal;
  color: $white-normal;
  transform: scale(1.1);
}

header.rolar .star {
  color: $black-normal;
}

.menu-mobile i {
  font-size: 40px;
  color: $white-normal;
  cursor: pointer;
}

.menu-mobile i:hover {
  color: $verde-principal;
}

.header-link.active {
  position: fixed;

  height: 100px;
  background-color: rgba(0, 0, 0, 0.801);
  backdrop-filter: blur(10px);
  top: -1;
  left: 0;
  animation: appearField 1s;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  align-items: center;
}

.header-link.active a {
  margin: 60px 0 0 0;
  font-size: 1.5rem;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  gap: 20px;
  width: 120px;
  cursor: pointer;
}

.header-logo img:hover {
  animation: translateY 0.8s infinite alternate;
}

.star {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: $white-normal;

  .star-icon {
    transition: 0.4s;
  }
  .star-icon:hover {
    color: #00a3ad;
    cursor: pointer;
    transform: scale(1.5);
  }
}

.header-link a {
  display: inline-block;
  margin-left: 20px;
  color: $white-normal;
  font-size: 1.4rem;
  transition: 0.4s;
}

.header-link a:hover {
  color: $verde-principal;
  transform: scale(1.2);
}

.header-button {
  display: inline-block;
  border: 1px solid $white-normal;
  font-size: 1.3rem;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: $white-normal;
  color: $black-normal;
  position: relative;
  transition: transform 0.4s, background-color 0.4s;
}

.header-button:hover {
  background-color: #00a3ad;
  color: $black-normal;
  transform: scale(1.1);
}

@media screen and (max-width: 990px) {
  header.rolar {
    height: 110px;
  }

  .header-link a {
    font-size: 1.1rem;
    margin-left: 10px;
  }

  .header-button {
    font-size: 1rem;
    padding: 5px 5px;
  }

  .header-logo {
    width: 200px;
  }

  .header-logo img {
    width: 80px;
  }
}

@media screen and (max-width: 800px) {
  .header-content {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .header-link {
    display: none;
  }

  .header-logo img {
    display: flex;
    text-align: center;
    width: 90px;
    margin: 0;
  }

  .header-button {
    display: none;
    padding: 8px 80px;
  }

  #menu-icon {
    display: flex;
  }
}
