@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
#about,
#services,
#app-section,
#localizacao {
  scroll-margin-top: 250px; /* ou a altura real do seu menu fixo */
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.bg-homer {
  position: relative;
}

.bg-home:before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.452),
      /* Aumente a opacidade aqui para uma sombra mais forte no topo */
        rgba(0, 0, 0, 0.425),
      /* Transição para uma sombra mais forte antes do preto */ #000000
        /* Preto puro na parte inferior */
    ),
    url("./img/home-principal.png");

  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 0;
  opacity: 0.9;
}

.hero {
  color: $white-normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 14px;

  .hero-txt {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 110px;
      font-family: "Yellowtail", cursive;
      font-weight: bolder;
      line-height: 80px;
      margin: 20px;
      max-width: 940px;
    }

    .titulo {
      text-align: center;
    }

    p {
      font-size: 22px;
      text-align: center;
      margin: 14px 0;
    }
  }

  .hero-cont {
    display: flex;
    margin: 0 120px;
    align-items: center;
    gap: 30px;
  }

  a i {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: $white-normal;
  }

  a i:hover {
    color: $verde-principal;
    animation: scaleButton 0.5s alternate infinite;
  }

  .hero-img {
    position: absolute;
    top: 50%;
    right: 200px; /* distância da borda direita */
    transform: translateY(-50%);
    width: 500px;
  }
}

.button-contact {
  padding: 14px 28px;
  color: $black-normal;
  background-color: white;
  border-radius: 10px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button-contact:hover {
  background-color: $verde-principal;
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}

@media screen and (max-width: 868px) {
  .bg-home:before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.452),
        /* Aumente a opacidade aqui para uma sombra mais forte no topo */
          rgba(0, 0, 0, 0.425),
        /* Transição para uma sombra mais forte antes do preto */ #000000
          /* Preto puro na parte inferior */
      ),
      url("./img/home-principal.png");

    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 0;
    opacity: 0.9;
  }

  .hero {
    min-height: 100vh;
    align-items: center;

    .img-caique {
      display: none;
    }

    h1.titulo,
    h1.subtitulo {
      font-size: 70px;
      line-height: 60px;
      margin: 10px auto;
    }

    .button-contact {
      width: 190px;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero p {
    font-size: 30px;
  }
}

// about

.about {
  content: "";
  display: block;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.514), #000000),
    url("./img/secundaria.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 0;
  opacity: 0.9;
  overflow: hidden;

  color: $white-normal;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 0 14px;

  img {
    max-width: 1000px;
  }
}

.about-content div {
  flex: 1;
}

.about-description {
  text-align: center;
  width: 80%;
  height: auto;

  h2 {
    font-family: "Yellowtail", cursive;
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
  }

  p {
    font-size: 23px;
    margin-bottom: 14px;
    line-height: 150%;
  }
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;

    p {
      font-size: 19px;
    }
  }

  @media screen and (max-width: 480px) {
    .about-content {
      p {
        font-size: 13px;
      }
    }
  }
}

// services

.services {
  background-color: $white-normal;
  color: $black-normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2 {
  font-family: "Yellowtail", cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.haircuts,
.hidden-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.haircut {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $white-normal;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.6);

  overflow: hidden;

  img {
    width: 100%;
    max-width: 354px;

    transition: transform 0.25s;
  }
}

.haircut img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.haircut-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: $white-normal;
  z-index: 99;
}

.haircut-info button {
  border: none;
}

.haircut-info button a {
  display: block;
  color: $white-normal;
  background-color: $black-normal;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  transition: transform 0.25s;
}

.haircut-info button a:hover {
  background-color: #00a3ad;
  transform: scale(1.2);
}

.hidden {
  display: none;
}

#verMais {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: $black-normal;
  color: $white-normal;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.25s, transform 0.25s;
}

#verMais:hover {
  background-color: #00a3ad;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .haircuts,
  .hidden-section {
    flex-direction: column;
  }
}

/* Estilo base */
.app-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 10rem;
  background-color: #00a3ad; /* Cor de fundo amarelo */
  color: #000000;
  flex-wrap: wrap; /* Permite que os elementos se ajustem em telas menores */
}

.app-section .content {
  flex: 1; /* Permite que o conteúdo use o espaço disponível */
  max-width: 40%;
}

.app-section h1 {
  font-size: 80px;
  font-family: "Yellowtail", cursive;
  font-weight: bolder;
  line-height: 80px;
  margin-bottom: 1rem;
}

.app-section h1 span {
  color: white; /* Destaque da cor */
}

.app-section p {
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.app-section .download-buttons img {
  width: 150px; /* Tamanho dos botões */
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.app-section .download-buttons img:hover {
  transform: scale(1.1);
}

.app-section .images {
  display: flex;
  justify-content: flex-end; /* Alinha as imagens à direita */
  flex: 1; /* Permite que as imagens ocupem o espaço restante */
}

.app-section .app-images .app-img-cell {
  width: 250px;
  cursor: pointer;
  transition: 0.4s;
}

.app-section .app-img-cell:hover {
  transform: scale(1.1);
}

/* Responsividade para larguras acima de 990px */

/* Responsividade para larguras entre 768px e 990px */
@media (max-width: 990px) {
  .app-section {
    padding: 1.5rem 5rem; /* Reduz o padding em telas intermediárias */
    flex-direction: column; /* Alinha os elementos em coluna */
    text-align: center; /* Centraliza o conteúdo */
  }

  .app-section .content {
    max-width: 100%; /* Permite que o texto ocupe toda a largura */
    margin-bottom: 2rem; /* Adiciona espaço entre o texto e as imagens */
  }

  .app-section h1 {
    font-size: 3rem; /* Ajusta o tamanho da fonte */
    line-height: 1.2;
  }

  .app-section p {
    font-size: 1.2rem;
  }

  .app-section .images {
    gap: 1rem;
  }

  .app-section .app-img-cell {
    width: 200px; /* Reduz o tamanho das imagens */
  }
}

/* Responsividade para larguras abaixo de 768px */
@media (max-width: 768px) {
  .app-section {
    padding: 1rem 2rem; /* Reduz ainda mais o padding */
  }

  .app-section h1 {
    font-size: 3.5rem; /* Ajusta o tamanho da fonte para telas menores */
  }

  .app-section p {
    font-size: 1.2rem;
  }

  .app-section .app-images .app-img-cell {
    width: 200px;
  }
}

/* Responsividade para larguras abaixo de 480px */
@media (max-width: 480px) {
  .app-section h1 {
    font-size: 3rem; /* Menor tamanho de fonte para h1 */
  }

  .app-section p {
    font-size: 0.9rem;
  }

  .app-section .app-images .app-img-cell {
    width: 150px;
  }
  .app-section .download-buttons img {
    width: 130px; /* Ajusta o tamanho dos botões de download */
  }
}

// localizaçao

.localizacao {
  background-color: $white-normal;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.localizacao h2 {
  font-family: "Yellowtail", cursive;
  font-weight: bolder;
  line-height: 80px;
  font-size: 50px;
}

.map-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ajusta a largura do mapa no centro */
  max-width: 100%; /* Limita a largura máxima do mapa */
  height: 60vh; /* Ajusta a altura proporcional */
  padding: 10px; /* Espaçamento opcional */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
  background-color: #fff; /* Fundo opcional */
}

.iframe {
  width: 80%; /* O mapa ocupa toda a largura do container */
  height: 450px; /* Altura fixa */
  border: 0; /* Remove borda */
}

.google-map-link {
  text-decoration: none;
  font-size: 16px;
  margin: 20px 0;
  color: #ffffff;
  background-color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.google-map-link:hover {
  background-color: $verde-principal;
  color: #fff;
}

@media (max-width: 480px) {
  .iframe {
    height: 350px;
  }
}

/* rodape */
footer {
  background-color: #000000;
  padding: 5px 0;
}

.logo-footer a img {
  width: 100px;
  height: 100px;
}
footer .line-footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.borda {
  border-top: 2px solid $white-normal;
}

footer .line-footer-borda p a {
  color: $white-normal;
}

.btn-social i {
  display: inline-block;
  color: $white-normal;
  margin: 0 5px;
  font-size: 2rem;
  transition: 0.4s;
}

.btn-social i:hover {
  transform: scale(1.3);
}
