@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.bg-homer {
  position: relative;
}

.bg-home:before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.452),
      /* Aumente a opacidade aqui para uma sombra mais forte no topo */
        rgba(0, 0, 0, 0.425),
      /* Transição para uma sombra mais forte antes do preto */ #000000
        /* Preto puro na parte inferior */
    ),
    url("../img/Design\ sem\ nome\ \(33\).png");

  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 0;
  opacity: 0.9;
}

.hero {
  color: $white-normal;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 14px;

  .hero-txt {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 110px;
      font-family: "Yellowtail", cursive;
      font-weight: bolder;
      line-height: 80px;
      margin: 20px;
      max-width: 940px;
    }

    .titulo {
      text-align: center;
    }

    p {
      font-size: 22px;
      text-align: center;
      margin: 14px 0;
    }
  }

  .hero-cont {
    display: flex;
    margin: 0 120px;
    align-items: center;
    gap: 30px;
  }

  a i {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: $white-normal;
  }

  a i:hover {
    color: $white-dark;
    animation: scaleButton 0.5s alternate infinite;
  }

  .hero-img {
    position: absolute;
    top: 50%;
    right: 200px; /* distância da borda direita */
    transform: translateY(-50%);
    width: 500px;
  }
}

.button-contact {
  padding: 14px 28px;
  color: $black-normal;
  background-color: white;
  border-radius: 10px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}

@media screen and (max-width: 768px) {
  .bg-home:before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.452),
        /* Aumente a opacidade aqui para uma sombra mais forte no topo */
          rgba(0, 0, 0, 0.425),
        /* Transição para uma sombra mais forte antes do preto */ #000000
          /* Preto puro na parte inferior */
      ),
      url("../img/Design\ sem\ nome\ \(33\).png");

    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 0;
    opacity: 0.9;
  }

  .hero {
    min-height: 100vh;
    align-items: center;

    .img-caique {
      display: none;
    }

    h1.titulo,
    h1.subtitulo {
      font-size: 70px;
      line-height: 60px;
      margin: 10px auto;
    }

    .button-contact {
      width: 190px;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero p {
    font-size: 30px;
  }
}

// about

.about {
  content: "";
  display: block;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.514), #000000),
    url("/img/freepik__preciso-quue-melhore-essa-imagem-para-4k-que-fique__14441.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 0;
  opacity: 0.9;
  overflow: hidden;
  color: $white-normal;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;

  img {
    max-width: 1000px;
  }
}

.about-content div {
  flex: 1;
}

.about-description {
  h2 {
    font-family: "Yellowtail", cursive;
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
  }

  p {
    font-size: 23px;
    margin-bottom: 14px;
    line-height: 150%;
  }
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}

// services

.services {
  background-color: $white-normal;
  color: $black-normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.haircuts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.haircut {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $white-normal;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.6);

  overflow: hidden;

  img {
    width: 100%;
    max-width: 354px;
    transition: transform 0.25s;
  }
}

.haircut img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.haircut-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: $white-normal;
  z-index: 99;
}

.haircut-info button {
  color: $white-normal;
  background-color: $black-normal;
  padding: 7px 10px;
  border-radius: 10px;
  border: 0;
  transition: transform 0.25s;
}

.haircut-info button:hover {
  background-color: rgb(2, 119, 2);
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .haircuts {
    flex-direction: column;
  }
}
