.menu-mobile-div {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
  width: 0%;
  padding: 20px 0;
  overflow: hidden;
  transition: 0.5s;
}

.menu-mobile-div.abrir-menu {
  width: 55%;
}

.menu-mobile-div.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile-div .btn-fechar {
  padding: 20px 80%;
}

.menu-mobile-div .btn-fechar i {
  color: #ffffff;
  font-size: 30px;
}

.menu-mobile-div .btn-fechar i:hover {
  color: $verde-principal;
}

.menu-mobile-div nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu-mobile-div nav ul li {
  font-size: 22px;
  font-weight: 300;
}

.menu-mobile-div nav ul li a {
  color: #fff;
  padding: 20px 10%;
  display: block;
  width: 100%;
  text-align: right;
}

.menu-mobile-div nav ul li a:hover {
  background-color: $verde-principal;
}

.menu-mobile-div .img-nav-mobile {
  display: flex;
  justify-content: end;
}

.img-nav-mobile img {
  width: 150px;
  animation: scaleButton 0.5s alternate infinite;
}

.overlay-menu {
  background-color: #000000c4;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
